.panel.panel-default
  .panel-heading People There
  .panel-body.gallery-panel
    .gallery-avatar(ng-repeat="u in users")
      a(href="/#!/user/{{ u.id }}")
        img(ng-src="//ruby-china.org/avatar/{{ u.email | gravatar }}.png?s=96&d=404")
      p
        a(href="/#!/user/{{ u.id }}") {{ u.username}}