.panel.panel-default
  .panel-heading People There
  .panel-body
    .gallery-avatar(ng-repeat="u in users")
      a(href="/#!/user/{{ u.username }}")
        img(src="http://www.gravatar.com/avatar/{{ u.email | gravatar }}")
      p
        a(href="/#!/user/{{ u.username }}") {{ u.username}}