@import url(https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin,latin-ext);

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  bottom: 10px;
  right: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


body { 
  padding-top: 70px; 
  font-family:  Raleway, Helvetica, Arial, "Segoe UI", "Lucida Grande", "Microsoft YaHei", FreeSans, Arimo, "Hiragino Sans GB", "Hiragino Sans GB W3", "Droid Sans","wenquanyi micro hei", Arial, sans-serif;
  background: #3A4454;
}
.panel {
  background: #EAECEF;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .25);
}
.gallery-avatar {
  margin: 2.27rem;
  display: inline-table;
}

.gallery-avatar > p {
  text-align: center;
  font-size: .8rem;
  line-height: 2.3rem;
}
.gallery-avatar > p > a {
  color: #173554;
}
.gallery-avatar > a> img {
  border-radius: 999rem;
  box-shadow: 0 0 5px black;
  transition: all .3s, box-shadow .3s;
  transition-timing-function: ease-in;
  position: relative;
  top: 0px;
  width: 96px;
  height: 96px;
  transition-delay: .1s;
}
.gallery-avatar > a > img:hover {
  box-shadow: 0 0 3px #a2a2a2, 0 0 10px black;
  top: -1rem;
}
.panel-body.topic-list, .view-user, .view-topic .panel-body {
  padding: 0px !important;
}
.topic-list-item {
  padding: 25px 25px 0px 22px;
}
.topic-list > .topic-list-item:nth-of-type(even) {
  background: #f5f5f5;
}
.topic-list-title {
  line-height: 1;
  margin-top: 4px;
}
.topic-list-title a {
  font-size: 22px;
  color: #173554;
}
.topic-list-info {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  padding: .3rem;
}
.topic-list-detail {
  padding-right: 10px;
}
.topic-list-image {
  display: table-cell;
  width: 100%;
}
.topic-list-image img {
  box-shadow: 0 0 3px black;
  width:64px;
  height: 64px;
  border-radius: 999rem;
  transition: all .3s, box-shadow .3s;
  transition-timing-function: ease-in;
}
.topic-list-image img:hover {
  box-shadow: 0 0 3px #a2a2a2, 0 0 10px black;
}
p.topic-list-count {
  background: #6B6A6A;
  color: #f2f2f2;
  text-align: center;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  font-size: 14px;
  border-radius: 999rem;
  position: relative;
  top: -16px;
  box-shadow: 0 0 3px black;
}
.view-user-banner {
  text-align: center;
  padding: 25px;
  color: #4e4e4e;
}
.view-user-banner img {
  border-radius: 999rem;
  box-shadow: 0 0 5px black;
  transition: all .3s, box-shadow .3s;
  transition-timing-function: ease-in;
  margin-bottom: 35px;
}
.view-user-banner img:hover {
  box-shadow: 0 0 3px #a2a2a2, 0 0 10px black;
}
.view-user-banner {
  background-color: #f5f5f5;
}
.view-topic .view-topic-title {
  font-size: 36px;
}
.view-topic .panel-heading {
  padding: 20px 22px;
}
.view-topic-heading, .view-topic-avatar {
  display: table-cell;
}
.view-topic-heading {
  width: 100%;
  padding-right: 10px
}
.view-topic-title p {
  line-height: 1;
  margin-bottom: 5px;
  color: #173554;
}
.view-topic-info p {
  margin: 0;
}
.view-reply-head {
  color: #a2a2a2;
  text-align: center;
  font-size: 2.5rem;
  margin: 10px;
}
.view-reply-info {
  padding: 0;
}
.view-reply-content {
  background: #f5f5f5;
  padding: 18px 40px 10px;
}
.view-reply-info {
  padding: 8px 38px 0px;
}
.view-reply-info p {
  padding: 0;
  margin: 0px 0px 8px;
}
.view-reply-end {
    background: #f5f5f5;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 10px;
    color: #797979;
}

