.panel.panel-default
  .panel-heading Topics
  .panel-body.topic-list
    .topic-list-item(ng-repeat="t in topics | orderBy: '-last_activity' " ng-init="u = t.author")
      .topic-list-info
        p.topic-list-title
          a(href="/#!/topic/{{ t.id }}") {{ t.title }}
          span(ng-repeat="g in t.tags")
            a {{ g }}
        p.topic-list-detail
          | Created by 
          a(href="/#!/user/{{u.id}}") {{ u.username }}
          |  at {{ t.created | date: 'yyyy-MM-dd hh:mm:ss EEEE'}}
      .topic-list-image
        a(href="/#!/user/{{u.id}}")
          img(ng-src="//ruby-china.org/avatar/{{ t.author.email | gravatar }}.png?s=96&d=404")
        p.topic-list-count {{t.replies_count}}