.panel.panel-default(ng-init="getReplies()").view-topic
  .panel-heading
    .view-topic-heading
      .view-topic-title
        p
          | {{ t.title }}
      .view-topic-info
        p 
          | Created by 
          a(href="/#!/user/{{t.author.id}}") {{ t.author.username }}
          |  at {{ t.created | date: 'yyyy-MM-dd hh:mm:ss EEEE'}}
          |  with {{ t.replies_count }} post(s).
    .view-topic-avatar
      .topic-list-image
        a(href="/#!/user/{{t.author.id}}")
          img(ng-src="//ruby-china.org/avatar/{{ t.author.email | gravatar }}.png?s=96&d=404")
  .panel-body
    p.view-reply-head
      ng-pluralize(count="t.replies_count" when="{'0': 'No Discussion', 'one': 'Discussion(1)', 'other': 'Discussions({})'}")
    .view-reply-box(ng-repeat="r in replies")
      .view-reply-content(ng-bind-html="r.content_html")
      .view-reply-info
        p
          a(href="/#!/user/{{r.author.id}}")
            img(ng-src="//ruby-china.org/avatar/{{ r.author.email | gravatar }}.png?s=96&d=404")
          | by 
          a(href="/#!/user/{{r.author.id}}") {{ r.author.username }} 
          | at {{ r.created | date: 'yyyy-MM-dd hh:mm:ss EEEE'}}
    p.view-reply-end
      | EOF
.panel.panel-default(data-ng-show="user").view-topic-new-reply
  .panel-heading
    | Join Discussion
  .panel-body(ng-init="editorInit('new-reply-input')")
    form
      textarea#new-reply-input(placeholder="Markdown enabled." ng-model="content")
    p.view-topic-new-reply-submit(ng-click="submit()") Submit
    div(ng-model="content")